# Google AI Studio / Gemini API Key
# Dapatkan kunci gratis di: [https://aistudio.google.com/app/apikey](https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL_NAME=gemini-1.5-flash
DELAY_BETWEEN_FILES=70
TARGET_FOLDER_PATH=./data/source_folders
